@model IList<Post>

	<div class="mb-4">
		<h3 class="text-success mb-2">
			Bài ngẫu nhiên
		</h3>
		<ul class ="list-group">
		@foreach(var item in Model)
		{
			<li class="list-group-item">
				<a asp-controller="Blog"
				asp-action="Post"
				asp-route-slug="@item.UrlSlug"
			   asp-route-year="@item.PostedDate.Year"
			   asp-route-slug="@item.PostedDate.Month"
			   
			   title="@item.Description">
			@item.ViewCount
			<span>(@item.Title)</span>
		</a>
			</li>
		}
		</ul>
	</div>